[submodule "hydra"]
	path = hydra
	url = https://github.com/KrakenEngine/hydra
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "3rdparty/vulkan"]
	path = 3rdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk
[submodule "3rdparty/vma"]
	path = 3rdparty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "spirvreflect"]
	path = 3rdparty/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "3rdparty/compressonator"]
	path = 3rdparty/compressonator
	url = https://github.com/GPUOpen-Tools/compressonator.git
