<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kraken - ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Kraken - osx.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Kraken Standard Assets - OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Kraken Standard Assets - iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E491016013C99B9E0098455B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BBBB7D1512A40300F43B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C8E4E316B9B2D50031DDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C8E4F316B9B2E20031DDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
